@model CustomersModel

@{
    ViewData["Title"] = "Customers | Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Title and Breadcrumb -->
<div class="d-flex justify-content-between">
    <h1 class="ps-4 pb-1 title">
        <i class="bi bi-people-fill"></i> Customers Detail
    </h1>

    <div class="d-flex align-items-center pe-4 pe-sm-0">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
             aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index">Customers</a></li>
                <li class="breadcrumb-item active" aria-current="page">Details</li>
            </ol>
        </nav>
    </div>
</div>

<div class="container">
    <div class="card">
        <div class="card-body pb-0">

            <!-- Table -->
            <table class="table table-borderless">
                <tbody>

                    <!-- Customer Name -->
                    <tr>
                        <th scope="col">Name:</th>
                        <td scope="col">
                            @{
                                if (Model.Name == null)
                                {
                                    <p>There is an error in the application.</p>
                                }
                                else
                                {
                                    <p>@Model.Name</p>
                                }
                            }
                        </td>
                    </tr>

                    <!-- Customer Hp No. -->
                    <tr>
                        <th scope="row">H/p No:</th>
                        <td>
                            @{
                                if (Model.HpNo == null)
                                {
                                    <p>-</p>
                                }
                                else
                                {
                                    <p>@Model.HpNo</p>
                                }
                            }
                        </td>
                    </tr>

                    <!-- Customer Email -->
                    <tr>
                        <th scope="row">Email:</th>
                        <td>
                            @{
                                if (Model.Email == null)
                                {
                                    <p>-</p>
                                }
                                else
                                {
                                    <p>@Model.Email</p>
                                }
                            }
                        </td>
                    </tr>

                    <!-- Customer Address -->
                    <tr>
                        <th scope="row">Address:</th>
                        <td>
                            @{
                                if (Model.Address == null)
                                {
                                    <p>-</p>
                                }
                                else
                                {
                                    <p>@Model.Address</p>
                                }
                            }
                        </td>
                    </tr>

                    <!-- Customer Updated By Who -->
                    <tr>
                        <th scope="row">Last Updated By:</th>
                        <td>
                            @{
                                if (Model.HpNo == null)
                                {
                                    <p>-</p>
                                }
                                else
                                {
                                    <p>@Model.HpNo</p>
                                }
                            }
                        </td>
                    </tr>

                    <!-- Customer Updated Timestamp -->
                    <tr>
                        <th scope="row">Last Updated at:</th>
                        <td>
                            @{
                                <p>@Model.UpdatedDateTime</p>
                            }
                        </td>
                    </tr>

                    <!-- Button -->
                    <tr>
                        <th scope="row"></th>
                        <td colspan="2" class="d-flex justify-content-end">
                            <div class="pe-1">
                                <!-- Edit Button -->
                                <a class="btn btn-success btn-sm" asp-action="Edit" asp-route-id="@Model?.Id">
                                    <i class="bi bi-pencil-fill"></i> Edit
                                </a>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
